@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* noto-sans-regular - latin */
    @font-face {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        src: local(''),
        url('../public/fonts/noto-sans-v11-latin/noto-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../public/fonts/noto-sans-v11-latin/noto-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../public/fonts/noto-sans-v11-latin/noto-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../public/fonts/noto-sans-v11-latin/noto-sans-v11-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
    }

    /* open-sans-300 - latin */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local(''),
        url('../public/fonts/open-sans-v18-latin/open-sans-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../public/fonts/open-sans-v18-latin/open-sans-v18-latin-300.woff') format('woff'), /* Modern Browsers */
        url('../public/fonts/open-sans-v18-latin/open-sans-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../public/fonts/open-sans-v18-latin/open-sans-v18-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
    }

    /* open-sans-regular - latin */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local(''),
        url('../public/fonts/open-sans-v18-latin/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../public/fonts/open-sans-v18-latin/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../public/fonts/open-sans-v18-latin/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../public/fonts/open-sans-v18-latin/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
    }

    /* open-sans-600 - latin */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        src: local(''),
        url('../public/fonts/open-sans-v18-latin/open-sans-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../public/fonts/open-sans-v18-latin/open-sans-v18-latin-600.woff') format('woff'), /* Modern Browsers */
        url('../public/fonts/open-sans-v18-latin/open-sans-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../public/fonts/open-sans-v18-latin/open-sans-v18-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
    }

    .bg-img {
        background-image: url('/images/background.png');
    }

    p {
        @apply mb-6;
    }

    a {
        @apply underline;
    }
    a:hover {
        opacity: 0.8;
    }

    header img {
        @apply h-10;
        @apply mx-4;
        @apply my-2;
        @apply inline;
    }
}
